html, body {
  height: 100%;
  margin: 0;
}

.container-fluid {
  height: 100%;
  padding: 0px;
}

#header {
  height: 10%;
}

#content {
  height: 90%;
}

table, tr {
  border: .5px solid black;
}

#mapcanvas {
  height: 100%;
}

#listing {
  padding: 10px;
}

table, tr {
  border: 0.5px solid black;
}

nav {
  height: 100%
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.listing-card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.listing-card:hover {
  background-color: #F0F0F0;
  cursor: pointer
}

.table-borderless td, .table-borderless tbody>tr {
  border: 0;
}

.table-borderless thead>tr {
  border-bottom: 1;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.custom-select {
  padding-bottom: 10px;
}

.desc {
  width: 40%
}

.leftmsg {
  width: 100%
}

.info .rightmsg {
  width: 60%
}

.listHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.price {
  font-weight: bolder;
  color: green
}

.list-group input[type="radio"] {
  display: none;
}

.list-group input[type="radio"]+.list-group-item {
  cursor: pointer;
}

.list-group input[type="radio"]+.list-group-item:before {
  content: "\2022";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="radio"]:checked+.list-group-item {
  background-color: #0275D8;
  color: #FFF;
}

.list-group input[type="radio"]:checked+.list-group-item:before {
  color: inherit;
}

.sender {
  padding: 10px;
  border-radius: 20px;
  background-color: #39d1d4
}

.receiver {
  padding: 10px;
  border-radius: 20px;
  background-color: #f24bb5
}

/* .list-group-hover .list-group-item:hover {
    background-color: #007bff;
    cursor: pointer;
}

.list-group-hover .list-group-item:visited {
    background-color: #007bff;
    cursor: pointer;
} */

/*
.showme {
  display: none;
}

.showhim:hover .showme {
  display: block;
} */

ul a {
  color: black;
  text-decoration: none;
  /* no underline */
}

.profile-pic .far fa-user {
  border: solid 1px black;
}

.space-around {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-container {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-item {
  width: 100%;
  font-weight: bold;
}

.icon {
  width: 16px;
  height: 16px;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}