* {
  box-sizing: border-box;
}

div.container-fluid div#header.row {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: flex-start;
}

div.container-fluid div#header.row h1 {
  padding: 15px;
}
