html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    height: 100%;
    padding: 0px;
}

#header {
    height: 10%;
}

#content {
    height: 90%;
}

table, tr {
    border: .5px solid black;
}

#mapcanvas {
    height: 100%;
}

#listing {
    padding: 10px;
}

table, tr {
    border: 0.5px solid black;
}

nav {
    height: 100%
}

.row {
    margin-left: 0px;
}

.listing-card {
    margin-top: 5px;
    margin-bottom: 5px;
}